Set the inferred encoding for text/html to iso-8859-1 for tests

See test https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/servlet/spec/i18n/encoding/TestServlet.java testSpec2 and testSpec3.

Both of these tests require that the container uses iso-8859-1 as the default response character encoding. However, jetty has a file encoding.properties that defines some well-known charset encodings for various mimetypes, one of these is text/html:utf-8.  If we were to change jetty's default to iso-8859-1, then this might disrupt many existing webapps that have been expecting the jetty default of utf-8. So I suggest we set the char encoding for text/html to iso-8859-1 just for this test.  To do that, we need to do the following in a context xml file:

MimeTypes.getInferredEncodings().put("text/html", "iso-8859-1");

Can't we specify this encoding / mime-type detail in the WEB-INF/web.xml for that test webapp?

@joakime nope - we look up an inferred charset before going to the default (context or server).

The inferred charset is not something in the spec. It's just a convenience that we added.  Perhaps we should remove it and just be "by the book"?

@lachlan-roberts can you talk to @olamy about how to configure inferred charsets.  For the TCK we need to either turn off all inferred charsets or at least set them all to iso-8859-1 

https://tools.ietf.org/html/rfc7231#appendix-B - Appendix B.  Changes from RFC 2616

```
   The default charset of ISO-8859-1 for text media types has been
   removed; the default is now whatever the media type definition says.
   Likewise, special treatment of ISO-8859-1 has been removed from the
   Accept-Charset header field.  (Section 3.1.1.3 and Section 5.3.3)
```



Looking at the IANA registered media-types ...

https://www.iana.org/assignments/media-types/media-types.xhtml#text

We see that `text/html` has the following registered - https://www.iana.org/assignments/media-types/text/html
Which doesn't declare a `text/html` specific default, instead leaning on the `text/*` defaults.
Which is defined in https://tools.ietf.org/html/rfc6657 as US-ASCII.

In short, there is no current default charset for `text/html`, there was one briefly defined during the RFC2616, but removed in RFC7231.
With HTTP/2 and HTTP/3, they defer to Section 3.3 of RFC7230 for the definition of "payload body". (which has no default charset `text/*` media-types)


@joakime I think that RFCs and IANA can guide what we do for our inferred and assumed character sets (which perhaps should be reviewed in another issue).   However, that doesn't change the fact that they [servlet specification does define a default encoding of iso-8859-1](https://github.com/eclipse-ee4j/servlet-api/blob/5.0.0-RELEASE/spec/src/main/asciidoc/servlet-spec-body.adoc#56-internationalization), so regardless of the correctness (or not) against the actual mime types, the TCK is correctly testing for this default.

So we either need to turn off all inferred charsets for the TCK test (@lachlan-roberts can you tell @olamy how to do this) or follow @janbartel's suggestion of doing `MimeTypes.getInferredEncodings().put("text/html", "iso-8859-1")`, which should be able to be easily encoded in XML and just added to a start.d/tck.ini file or similar



@olamy I would just do what Jan suggested.

I tested this in XML and it worked to change the inferred charset in the response:
```xml
<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_3.dtd">

<Configure id="Server" class="org.eclipse.jetty.server.Server">
  <Get class="org.eclipse.jetty.http.MimeTypes" name="InferredEncodings">
    <Call name="put">
      <Arg>text/html</Arg>
      <Arg>iso-8859-1</Arg>
    </Call>
  </Get>
</Configure>
```

> @olamy I would just do what Jan suggested.
> 
> I tested this in XML and it worked to change the inferred charset in the response:
> 
> ```
> <?xml version="1.0"?>
> <!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_3.dtd">
> 
> <Configure id="Server" class="org.eclipse.jetty.server.Server">
>   <Get class="org.eclipse.jetty.http.MimeTypes" name="InferredEncodings">
>     <Call name="put">
>       <Arg>text/html</Arg>
>       <Arg>iso-8859-1</Arg>
>     </Call>
>   </Get>
> </Configure>
> ```

which is file? (jetty-http.xml, jetty.xml or?) 
which version support url contain ZH-CN, support ISO-8859-1?
Thanks

@ale-class that is defined as a new XML file and just simply referenced in your `${jetty.base}` configuration somewhere (even the command line if you so desire).

> @ale-class that is defined as a new XML file and just simply referenced in your `${jetty.base}` configuration somewhere (even the command line if you so desire).
Thank you very much for your reply. Please reply to the following questions:
My request URL contains Chinese, such as "http://127.0.0.1/demo?abc=中文测试", （"http://127.0.0.1/demo?abc=Chinese test"）jetty is version 9.4.28.v20200408.
In IE browser, content-type: text/html;charset=iso-8859-1;
In Edge or Google Chrome, content-type:text/html;charset=utf-8.
Ask how to configure jetty so that IE browser can support Chinese parameters to reach content-type: text/html;charset=utf-8?
thanks


@ale-class Both of those example URLs are examples of invalid URLs as far as the URL spec and HTTP spec are concerned.

Per the HTTP and URL and URI specs the contents of a URL can only contain printable, non-whitespace, 7-bit, US-ASCII characters only.
Any character that isn't within that limited space MUST be encoded.
How it's encoded depends on where in the URL it is.
Host/Authority has it's own set of specs depending on i8n hostnames, punycode, or IP literals.
Path's have their own specs which include details about paths, path parameters, normalization, navigation, etc.
Query portion has several specs as well (and none of the specs have ever supported raw Unicode, and only ever encoding into UTF-8)
Even the fragment portion has it's own specs.

This is how your first request should be fixed.
```
Yours: http://127.0.0.1/demo?abc=中文测试
 Spec: http://127.0.0.1/demo?abc=%E4%B8%AD%E6%96%87%E6%B5%8B%E8%AF%95
```

Test it yourself.

_In Java:_

``` shell
[test]$ cat src/main/java/uri/URIChineseDemo.java 
package uri;

public class URIChineseDemo
{
    public static void main(String[] args)
    {
        System.out.println("URI is " + java.net.URI.create("http://127.0.0.1/demo?abc=中文测试").toASCIIString());
    }
}
[test]$ java -cp target/classes uri.URIChineseDemo
URI is http://127.0.0.1/demo?abc=%E4%B8%AD%E6%96%87%E6%B5%8B%E8%AF%95
```

_In Chrome's Javascript console:_

![chinese-url-chrome](https://user-images.githubusercontent.com/191721/134508411-5788584e-f260-4c52-b3a3-a6fdf920b4e1.png)

_In Firefox's Javascript console:_

![chinese-url-firefox](https://user-images.githubusercontent.com/191721/134508753-d8afad5e-f7be-414e-a8fb-902c177733f1.png)

This is how your second request should be fixed.

```
Yours: http://127.0.0.1/demo?abc=Chinese test
SpecA: http://127.0.0.1/demo?abc=Chinese%20test
SpecB: http://127.0.0.1/demo?abc=Chinese+test
```

Yours: this is also an invalid URL as it contains whitespace.
SpecA: This is how the URL and HTTP spec specifies that to be encoded.
SpecB: This is how the `application/x-www-form-urlencoded` spec allows a space to be encoded (this is shorthand specifically for the FORM encoding spec and complies with both the URL and HTTP specs)

BTW, IE is 100% deprecated and no longer supported by anyone, not even Microsoft (You cannot even pay Microsoft incredible sums of money for support on IE anymore)

Don't be fooled by IE's Location bar, it often shows what the user wants to see, vs what is actually being sent.
Confirm the actual network bytes being sent by IE.

> @ale-class Both of those example URLs are examples of invalid URLs as far as the URL spec and HTTP spec are concerned.
> 
> Per the HTTP and URL and URI specs the contents of a URL can only contain printable, non-whitespace, 7-bit, US-ASCII characters only. Any character that isn't within that limited space MUST be encoded. How it's encoded depends on where in the URL it is. Host/Authority has it's own set of specs depending on i8n hostnames, punycode, or IP literals. Path's have their own specs which include details about paths, path parameters, normalization, navigation, etc. Query portion has several specs as well (and none of the specs have ever supported raw Unicode, and only ever encoding into UTF-8) Even the fragment portion has it's own specs.
> 
> This is how your first request should be fixed.
> 
> ```
> Yours: http://127.0.0.1/demo?abc=中文测试
>  Spec: http://127.0.0.1/demo?abc=%E4%B8%AD%E6%96%87%E6%B5%8B%E8%AF%95
> ```
> 
> Test it yourself.
> 
> _In Java:_
> 
> ```shell
> [test]$ cat src/main/java/uri/URIChineseDemo.java 
> package uri;
> 
> public class URIChineseDemo
> {
>     public static void main(String[] args)
>     {
>         System.out.println("URI is " + java.net.URI.create("http://127.0.0.1/demo?abc=中文测试").toASCIIString());
>     }
> }
> [test]$ java -cp target/classes uri.URIChineseDemo
> URI is http://127.0.0.1/demo?abc=%E4%B8%AD%E6%96%87%E6%B5%8B%E8%AF%95
> ```
> 
> _In Chrome's Javascript console:_
> 
> ![chinese-url-chrome](https://user-images.githubusercontent.com/191721/134508411-5788584e-f260-4c52-b3a3-a6fdf920b4e1.png)
> 
> _In Firefox's Javascript console:_
> 
> ![chinese-url-firefox](https://user-images.githubusercontent.com/191721/134508753-d8afad5e-f7be-414e-a8fb-902c177733f1.png)
> 
> This is how your second request should be fixed.
> 
> ```
> Yours: http://127.0.0.1/demo?abc=Chinese test
> SpecA: http://127.0.0.1/demo?abc=Chinese%20test
> SpecB: http://127.0.0.1/demo?abc=Chinese+test
> ```
> 
> Yours: this is also an invalid URL as it contains whitespace. SpecA: This is how the URL and HTTP spec specifies that to be encoded. SpecB: This is how the `application/x-www-form-urlencoded` spec allows a space to be encoded (this is shorthand specifically for the FORM encoding spec and complies with both the URL and HTTP specs)
> 
> BTW, IE is 100% deprecated and no longer supported by anyone, not even Microsoft (You cannot even pay Microsoft incredible sums of money for support on IE anymore)
> 
> Don't be fooled by IE's Location bar, it often shows what the user wants to see, vs what is actually being sent. Confirm the actual network bytes being sent by IE.

Thank you very much for your reply. Please help us to look at this problem. 
          https://github.com/eclipse/jetty.project/issues/6993
I have listed the detailed code. My boss requires IE browser to be supported. Please help to solve it.
thanks